<!doctype html>
<html>
  <head>
    <title>Example application</title>
  </head>
  <body>
    <table>
    {% for user in users %}
      <tr>
        <td>
          {{ user['id'] }}
        </td>
        <td>
          <a href="/users/{{ user['id'] }}">{{ user['first_name'] }}</a>
        </td>
      </tr>
    {% endfor %}
    </table>
  </body>
</html>

{% extends "courses/layout.html" %}

{% block title %}Курсы{% endblock %}

{% block content %}
<table>
     {% for course in courses %}
     <tr>
       <td>
           {{ course.id }}
       </td>
       <td>
           {{ course.name }}
       </td>
     </tr>
     {% endfor %}
 </table>
{% endblock %}